<!-- templates/layout/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Webserver Auditorias Web{% endblock %}</title>

    <!-- Use Flask-Bootstrap's pre-included CSS -->
    {{ bootstrap.load_css() }}
</head>

<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Webserver Auditorias Web</h1>
    </header>

    <nav>
        <!-- Navigation Menu -->
    </nav>

    <main class="container my-5">
        {% block content %}
        <!-- Default Content -->
        {% endblock %}
    </main>


    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Webserver Auditorias Web</p>
    </footer> 


    <!-- Use Flask-Bootstrap's pre-included JS -->
    {{ bootstrap.load_js() }}
</body>

</html>
